<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUser</servlet-name>
        <servlet-class>servlets.HandleUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAdminServlet</servlet-name>
        <servlet-class>servlets.HandleAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleChangeRoomType</servlet-name>
        <servlet-class>servlets.HandleChangeRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRemoveCustomerServlet</servlet-name>
        <servlet-class>servlets.HandleRemoveCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomStatusServlet</servlet-name>
        <servlet-class>servlets.RoomStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditRoomInfoServlet</servlet-name>
        <servlet-class>servlets.SaveEditRoomInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUser</servlet-name>
        <url-pattern>/HandleUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAdminServlet</servlet-name>
        <url-pattern>/HandleAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleChangeRoomType</servlet-name>
        <url-pattern>/HandleChangeRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRemoveCustomerServlet</servlet-name>
        <url-pattern>/HandleRemoveCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomStatusServlet</servlet-name>
        <url-pattern>/RoomStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditRoomInfoServlet</servlet-name>
        <url-pattern>/SaveEditRoomInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
